.nav-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange-2);
  padding-block: 20px;
  position: sticky;
  top: 0;

  .brand-name{
    a{
      font-size: var(--font-size-3);
      text-decoration: none;
    }
  }

  .nav-logs{
    ul{
      display: flex;
      align-items: center;

    }

    li{
      list-style: none;
      padding: 0 15px;

      a{
        text-decoration: none;
        font-size: var(--font-size-2);
      }
    }
  }
}