
.banner{
  height: 50vh;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../assets/images/bg.avif') no-repeat center center/cover;
  color: #fff;
}

nav{
  
  display: flex;
  justify-content: end;
  padding-block: 20px;
  
  

  #navLinks{
    
    display: flex;
    margin-right: 20px;
    
    li{
      list-style: none;
      padding: 0 20px;

      a{
        text-decoration: none;
        color: #fff;
        font-size: var(--font-size-3);
      }
    }
  }
  .menu-bar{
    display: none;
    cursor: pointer;
  }
}
.login-alert{
  font-size: var(--font-size-3);
  font-weight:var(--font-weight-5);
  color:var(--red-8);
  background-color: var(--gray-3);
  width: 25%;
  margin-inline: auto;
  border-radius: var(--radius-3);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: var(--slide-in-down);
  position: fixed;
  top: -20px;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.2s ease-in-out;
}

.login-alert.active{
  top:50px;
  z-index: 2;  
}

.hero-title{
  font-weight:var(--font-weight-5);
  font-size:var(--font-size-8);
  letter-spacing:var(--font-letterspacing-3);
}
.hero-text{
 font-weight:var(--font-weight-3);
 font-size:var(--font-size-6);
 }
 .hero-desc{
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
 }

 .footer-lead{
  .footer-hero{
    font-size: var(--font-size-4);
  }
  .select-div{
    width: 300px;
  }
 }

@media screen and (max-width:767px) {
  .banner{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../assets/images/file.jpg') no-repeat center center/cover
    
  }
  .hero-title{
  font-size: var(--font-size-5);
  letter-spacing: var(--font-letterspacing-2);
  }
  .hero-text{
   font-weight:var(--font-weight-2);
  font-size:var(--font-size-2);
  }
  .hero-desc{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
   }
   .email-display{
    font-size: var(--font-size-1);
   }
  nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 10px;

    #navLinks{
      display: flex;
      width: 300px;
      background-color:var(--stone-1);
      flex-direction: column;
      position: fixed;
      border-top-left-radius: var(--radius-2);
      padding: 0;
      margin-right: 0;
      right: -300px;
      top: 50px;
      height: 100%;
      z-index: 1;
      transition: right 0.2s var(--ease-in-1);
      
      li{
        padding: 20px 0 8px 10px;
        a{
          font-size: var(--font-size-4);
          padding: 8px 20px;
          color: var(--gray-8);
          border-radius: var(--radius-2);
          &:hover{
            background-color: var(--gray-5);
          }
        }
      }
      
    }
    #navLinks.active{
      right: 0;
    }
    .menu-bar{
      display: block;
      align-self: flex-end;
      margin-right: 20px;
      
    }
  }
  .collec-text{
    display: block;
   span{
    display: none;
   }
   }
  .footer-lead{
  
    .footer-hero{
      font-size: var(--font-size-2);
    }
    .select-div{
      width: 200px;
    }
  }
  .footer{
    padding: 10px 5px;
    background-color: blue;
  .footer-links{
    ul{
      
      li{
        padding: 4px 0;
        a{
         font-size: var(--font-size-0);
         padding: 4px 2px; 
        }
      }
    }
  }
  }
//end of @media query//  
}

.card-item{
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    transform: scale(1.08);
  }

  a{
    text-decoration: none;
    color: #000;
  }
}

.collections{
  /* section{
    display: flex;
    gap: 20px; */
    .item{
      display: flex;
      flex-direction: column;
      height: 400px;
      /* width: 300px; */
      border-radius: var(--radius-2);
      color: #fff;
      justify-content: flex-end;
      cursor: pointer; 

     } 
    .card1{
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../assets//images//place1.avif') no-repeat center center/cover;
    }
    .card3{
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../assets/images/place3.avif') no-repeat center center/cover;
    }
    .card4{
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../assets/images/place4.avif') no-repeat center center/cover;
    }
  /* } */
}

.footer{
   padding: 10px 30px;
   background-color: var(--gray-0);
  .footer-links{
      ul{
        li{
          list-style: none;
          padding: 10px 0;
  
          a{
            text-decoration: none;
            font-size: var(--font-size-3);
            color: var(--gray-8);
            padding: 8px 15px;
            border-radius: var(--radius-2);
            &:hover{
              background-color: var(--gray-4);
            }
          }
        }
      }
    

  }
}